<h1>Edicion Proveedor</h1>

<%= render 'form' %>
<div class="container">
  <div class="row">
    <div class="col-xs col-md">
      <span class="pull-right">
				<br>
				<%#= link_to 'Mostrar', @provider, class:'btn btn-default btn-lg' %> 
				<%= link_to 'Regresar', providers_path, class:'btn btn-default btn-lg' %>
