<h1>Nuevo Proveedor</h1>

<%= render 'form' %>
<div class="container">
  <div class="row">
    <div class="col-xs col-md">
      <span class="pull-right">
				<br>
				<%= link_to 'Regresar', providers_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>