<h1>Editiar Marca/Modelo</h1>

<%= render 'form' %>
<br>
<%= link_to 'Mostrar', @brand_model, class:'btn btn-default btn-lg' %> |
<%= link_to 'Regresar', brand_models_path, class:'btn btn-default btn-lg' %>
