<p id="notice"><%= notice %></p>
<h1>Administracion</h1>
<div class="container-fluid large-padding">
	<div class="row">
		<div class="col-lg">
			<%= link_to 'PROCESADORES', processors_path %>
		</div>
	</div>
</div>

