<p id="notice"><%= notice %></p>
<h1>Administracion</h1>
<div class="container-fluid large-padding be-blue">
	<div class="row">
		<div class="col-xs">
			<div class="box">
				<%= link_to 'PROCESADORES', processors_path, class:'btn btn-default  btn-sm' %>
			</div>
		</div>
		<div class="col-xs">
			<div class="box">
				<%= link_to 'MARCAS PC', computer_brands_path, class:'btn btn-default  btn-sm' %>
			</div>
		</div>
		<div class="col-xs">
			<div class="box">
				<%= link_to 'MEMORIAS', memos_path, class:'btn btn-default  btn-sm' %>
			</div>
		</div>
	</div>
</div>

