<p id="notice"><%= notice %></p>
<h1>Administracion</h1>
<div class="container-fluid large-padding be-blue">
	<div class="row">
		<div class="col-xs-2">
			<%= link_to 'PROCESADORES', processors_path, class:'btn btn-default  btn-sm' %>
		</div>
		<div class="col-xs-1">
			<%= link_to 'MARCAS PC', computer_brands_path, class:'btn btn-default  btn-sm' %>
		</div>
	</div>
</div>

