<p id="notice"><%= notice %></p>
<h1>Administracion</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg">
			<div class="box be-soft_blue">
				<%= link_to 'PROCESADORES', processors_path %>
			</div>
		</div>
	</div>
</div>

