<h1>Editar Marca</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @computer_brand, class:'btn btn-default  btn-sm' %> |
<%= link_to 'Regresar', computer_brands_path, class:'btn btn-default  btn-sm' %>
