<div class="container-fluid be-soft_purple large-padding">
	<h1>Edicion Dependencias</h1>
</div>
<%= render 'form' %>
<br>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<span class="pull-right">
				<%= link_to 'Mostrar', @dependency, class:'btn btn-default btn-lg ' %> |
				<%= link_to 'Regresar', dependencies_path, class:'btn btn-default btn-lg ' %>
			</span>
		</div>
	</div>
</div> 