<div class="container-fluid be-soft_purple large-padding">
	<h1>Edicion Dependencias</h1>
</div>
<%= render 'form' %>

<%= link_to 'Mostrar', @dependency %> |
<%= link_to 'Regresar', dependencies_path %>
