<div class="container-fluid be-soft_purple no-margins">
	<h1>Nueva Dependencia</h1>
</div>
<%= render 'form' %>
<br>
<%= link_to 'Regresar', dependencies_path, class:'btn btn-default btn-sm no-margins ' %>
