<h1>Editar Solicitud de Servicio</h1>

<%= render 'form_update' %>

<%= link_to 'Mostrar', @service_request, class:'btn btn-default btn-lg' %> |
<%= link_to 'Regresar', service_requests_path, class:'btn btn-default btn-lg' %>
