<div class="container-fluid be-soft_purple large-padding">
	<h1>Nueva Solicitud de Servicio</h1>
</div>

<%= render 'form_new' %>
<div class="container">
	<div class="row">
		<div class="col-xs col-md">
		<span class="pull-right">
			<br>
			<%= link_to 'Regresar', service_requests_path, class:'btn btn-default btn-lg' %>
		</span>
	</div>
</div>