<div class="container-fluid be-soft_purple large-padding">
	<h1>Editar Computadora</h1>
</div>
<%= render 'form' %>
<br>
<%= link_to 'Mostrar', @computer %> |
<%= link_to 'Regresar', computers_path %>
<%#= button_to "Mostrar", @computer, :method => :get %> 
<%#= button_to "Regresar", computers_path, :method => :get %> 
