<table id='tblPC' class="table table-striped table-hover ">
    <thead>
        <th>EQUIPO</th>
        <th>ID</th>
        <th>SERIE</th>
        <th>ACTIVO</th>
        <th colspan='1'></th>
    </thead>
    <tbody>
        <% @computers.each do |pc| %>
            <tr>
                <td>COMPUTADORA</td>
                <td><%= pc.id %></td>
                <td><%= pc.nserie %></td>
                <td><%= pc.ninventary %></td>
                <td>
                   <!-- <a id='pcKill' class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Baja Equipo</a> -->
                    <%= link_to 'Baja Equipo', eqKill_brokens_path(id:pc.id,type:'COMP'), remote:true, :class=>"btn btn-danger glyphicon glyphicon-fire" %>
                </td>
            </tr>
            
        <% end %>
    </tbody>
</table>