<div class='container'>
    <div class='row'>
        <div class='col-xs col-md-1 be-gray' align='center'>No OFICIAL</div>
        <div class='col-xs col-md-3 be-gray' align='center'>No SERIE</div>
        <div class='col-xs col-md-4 be-gray' align='center'>DEPENDENCIA</div>
        <div class='col-xs col-md-2 be-gray' align='center'>DESCRIPCION</div>
        <div class='col-xs col-md-2 be-gray' align='center'>MODELO</div>
    </div>
    <div class='row'>
        <div class='col-xs col-md-1' align='center'>006576</div>
        <div class='col-xs col-md-3' align='center'>00ksk$jtjqwe</div>
        <div class='col-xs col-md-4' align='center'>COOR. DE INFORMATICA Y SISTEMAS</div>
        <div class='col-xs col-md-2' align='center'>REGULADOR/UPS</div>
        <div class='col-xs col-md-2' align='center'>XS-1-234-PFG</div>
    </div>
    <div class='row'>
        <div class='col-xs col-md-4' align='center'><%= image_tag "http://mail.loscabos.gob.mx/eqpics/NO_006581.jpg", size: "16x10" %></div>
        <div class='col-xs col-md-4' align='center'><%= image_tag "http://mail.loscabos.gob.mx/eqpics/NO_006581.jpg", size: "16x10" %></div>
        <div class='col-xs col-md-4' align='center'><%= image_tag "http://mail.loscabos.gob.mx/eqpics/NO_006581.jpg", size: "16x10" %></div>
    </div>
</div>