<div class='container'>
    <div class='row'>
        <div class='col-xs col-md-1 be-gray'>No OFICIAL</div>
        <div class='col-xs col-md-3 be-gray'>No SERIE</div>
        <div class='col-xs col-md-4 be-gray'>DEPENDENCIA</div>
        <div class='col-xs col-md-2 be-gray'>DESCRIPCION</div>
        <div class='col-xs col-md-2 be-gray'>MODELO</div>
    </div>
</div>