<div class="container-fluid be-soft_purple large-padding">
	<h1>Edicion de Usuario</h1>
</div>
<%= render 'form' %>

<%= link_to 'Mostrar', @worker, class:'btn btn-default  btn-lg' %> |
<%= link_to 'Regresar', workers_path, class:'btn btn-default  btn-lg' %>
