<div class="container-fluid be-soft_purple large-padding">
	<h1>Nuevo Usuario</h1>
</div>
<%= render 'form' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span class="pull-right">
      	<br>
				<%= link_to 'Regresar', workers_path, class:'btn btn-default  btn-lg' %>
			</span>
    </div>
  </div>
</div>