<div class="container-fluid be-soft_purple large-padding">
	<h1>Edicion Procesador</h1>
</div>
<%= render 'form' %>

<%= link_to 'Mostar', @processor, class:'btn btn-default  btn-sm' %> |
<%= link_to 'Regresar', processors_path, class:'btn btn-default  btn-sm' %>
