<div class="container-fluid be-soft_purple large-padding">
	<h1>Edicion Impresoras</h1>
</div>
<%= render 'form' %>

<%= link_to 'Mostrar', @printer, class:'btn btn-default  btn-sm' %> |
<%= link_to 'Regresar', printers_path, class:'btn btn-default  btn-sm' %>
