<h1>Entrada en Catalogo</h1>

<%= render 'form' %>
<div class="container">
  <div class="row">
    <div class="col-xs col-md-4">
      <span class="pull-right">
				<br>
				<%= link_to 'Regresar', common_errors_path, class:'btn btn-default btn-lg' %>
      </span>
    </div>
  </div>
</div>