<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @common_error.description %>
</p>

<%= link_to 'Edit', edit_common_error_path(@common_error) %> |
<%= link_to 'Back', common_errors_path %>
