<h1>Edicion de versiones de Office</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @officev, class:'btn btn-default  btn-lg' %> |
<%= link_to 'Regresar', officevs_path, class:'btn btn-default  btn-lg' %>
