<p id="notice"><%= notice %></p>
<div class="container-fluid be-gray">
	<div class="row large-padding">
		<div class="col-xs col-md">
			<p>
			  <strong>Name:</strong>
			  <%= @officev.name %>
			</p>
		</div>
	</div>
</div>


<%= link_to 'Editar', edit_officev_path(@officev), class:'btn btn-default  btn-lg' %> |
<%= link_to 'Regresar', officevs_path, class:'btn btn-default  btn-lg' %>
