<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= image_tag("logodire.png", :width => 120, :height => 120) %>
		</div>
		<div class="col-md-9">
			<span class="pull-right">
				<%= image_tag("direccion.png") %>
				
			</span>
			<span class="pull-left">
				<br>
				<br>
				<h1 style="color:gray">SOLICITUD DE SERVICIO</h1>
			</span>
		</div>
	</div>
</div>
