<div class="container-fluid be-soft_purple large-padding">
	<h1>Edicion de Consumible</h1>
</div>
<%= render 'form' %>

<%= link_to 'Mostrar', @consumable , class:'btn btn-default btn-lg' %> |
<%= link_to 'Regresar', consumables_path,  class:'btn btn-default btn-lg' %>
