  <div class="row be-soft_purple">
    <div class="col-xs col-md">
        <p align="right">
            <strong>ULTIMA MODIFICACION</strong><br>
            <%= entity.User_id ? User.find(entity.User_id).username : "FALTA ASIGNAR"  %>
        </p>
    </div>
  </div>